@{
    ViewData["Title"] = "Home Page";
}

<head>
    <style>
        body {
            background-color: #1a1a1a;
            color: #fff;
        }

        table {
            width: 80%;
            padding: 10px;
            border-radius: 20px;
            background-color: #1a1a1a;
            color: #fff;
            border: 3px solid #333;
            margin: auto;
            margin-top: 75px;
            border-collapse: separate;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #333;
            border-right: 1px solid #333;
        }

            th:first-child {
                border-top-left-radius: 15px;
            }

            th:last-child {
                border-top-right-radius: 15px;
            }

        tr:last-child td:first-child {
            border-bottom-left-radius: 15px;
        }

        tr:last-child td:last-child {
            border-bottom-right-radius: 15px;
        }

        th {
            background-color: #00bfff;
            color: #1a1a1a;
        }

        tr:nth-child(even) {
            background-color: #333;
        }

        td:last-child, th:last-child {
            border-right: none;
        }
 
.btn {
 width: 6.5em;
 height: 2.3em;
 margin: 0.5em;
 background: black;
 color: white;
 border: none;
 border-radius: 0.625em;
 font-size: 20px;
 font-weight: bold;
 cursor: pointer;
 position: relative;
 z-index: 1;
 overflow: hidden;
}

button:hover {
 color: black;
}

button:after {
 content: "";
 background: white;
 position: absolute;
 z-index: -1;
 left: -20%;
 right: -20%;
 top: 0;
 bottom: 0;
 transform: skewX(-45deg) scale(0, 1);
 transition: all 0.5s;
}

button:hover:after {
 transform: skewX(-45deg) scale(1, 1);
 -webkit-transition: all 0.5s;
 transition: all 0.5s;
}


    </style>
</head>

<body>

    <button class="btn"> 
        Add Claim
    </button>
    <table>
        <thead>
            <tr>
                <th>Claim ID</th>
                <th>Hourly Rate</th>
                <th>Hours worked</th>
                <th>Amount Due</th>
                <th>Claim Status</th>
                <th>Documents</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>R10</td>
                <td>40</td>
                <td>R400</td>
                <td>Approved</td>
                <td>/PNG.3</td
            </tr>
            <tr>
                <td>02</td>
                <td>R11</td>
                <td>41</td>
                <td>R451</td>
                <td>Pending</td>
                <td>/proof.pdf</td>
            </tr>
            <tr>
                <td>03</td>
                <td>R20</td>
                <td>30</td>
                <td>R600</td>
                <td>Rejected</td>
                <td>/proof2.pdf</td>
            </tr>
        </tbody>
    </table>
</body>