@model List<prog_poe_st10249266.Models.UserTBL>

<h1>Lecturer Details</h1>

<table>
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Surname</th>
            <th>User Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserID</td>
                <td>@user.Surname</td>
                <td>@user.Email</td>
                <td>
                    <a asp-action="EditUser" asp-route-id="@user.UserID" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
